body {
  background-color: #cacaca;
  margin: 0;
  padding: 48px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  padding: 48px;
  text-align: center;
  background-color: #fff;
}

a {
  color: red;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  color: blue;
}

span {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 40px;
  color: #444;
  background-color: rgb(224, 101, 64);
  font-size: 40px;
}
